.navbar-custom{
	background-color: #102039;
	padding-top: 6%; 
}
.ancCustom{
	font-weight: 900;
	color:white;
}
.heading1{
	font-weight: 900;
	font-size:40px;
	color:white;
}
.btmNavBar{
	font-weight: 900;
	color:white;
	font-size:14px;
	padding-bottom: 2%
}

.ctm{
	font-weight: 900;
}

a:link {
	color: white;
	background-color: transparent;
	text-decoration: none;
  }